@import '../Styles/Variables.scss';

.playlist-div {
	height: calc(100vh - 90px);
	box-sizing: border-box;
	border-radius: 0px 0px $border-rad $border-rad;
}

.playlist-div h2 {
  background-color: $pop-accent-o;
  color: $white;
  text-align: center;
  padding-top: 10px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
}

h2 div button {
  background-color: rgba(0,0,0,0);
  border: none;
  display: inline-block;
  font-family: $body-font;
  color: $white;
  vertical-align: middle;
  font-size: 16px;
  padding: 0px 15px;
  transition: all 200ms ease-in;
}

h2 div button:hover {
  cursor: pointer;
  color: $dark-bg;
  transition: all 200ms ease-in;
}

.playlist-path-active {
  color: $dark-bg;
}

.playlist-div ol {
  background-color: $dark-bg;
  color: $light-3;
  text-align: left;
  padding-left: calc(30vw + 35px);
	overflow: scroll;
	height: calc(100vh - 181px);
}

.playlist-div li {
 font-family: $header-font; 
 border-radius: 1px;
 box-sizing: border-box;
 height: 42px;
 margin: 4px 0px;
}

.playlist-div li:hover {
  background-color: $dark;
  box-sizing: border-box;
  border-bottom: 2px solid $pop-accent;
}

.playlist-div li:hover button {
  color: #E1B484;
}

.selected button {
  color: #E1B484;
}

.plus-icon, .minus-icon {
  display: none;
  color: $light-3;
}

.unselected:hover .plus-icon {
	display: inline;
}

.selected:hover .minus-icon {
	display: inline;
}

li span {
	color: $white;
	font-size: 20px;
	font-family: $header-font;
  padding: 0px 3px 0px 10px;
}

.post-btn {
  display: none;
}

.display-post-btn {
  display: initial;
  position: absolute;
  right: 25px;
  top: 125px;
  background-color: $spotify-green;
  border: none;
  color: $white;
  font-size: 16px;
  font-family: $header-font;
  outline-color: $spotify-green;
  padding: 2px 30px;
}

.display-post-btn:hover {
  background-color: $spotify-green-hover;
}

.display-post-btn:disabled {
  background-color: $spotify-green-disabled;
}

span .recently-played-list {
  padding-left: initial;
  list-style-position: inside;
  background-color: initial;
  height: initial;
}

h5 {
  font-size: 16px;
  text-align: center;
}

.recently-played-list li {
  height: auto;
  font-size: 12px;
  font-family: $body-font; 
}

.recently-played-list li:hover {
  background-color: initial;
  border-bottom: none;
}

@media only screen and (max-width: 620px) {

  .playlist-div {
    height: 100%;
  }

  .playlist-div ol {
    padding-left: 35px;
    height: calc(100vh - 247px);
  } 

  .playlist-div h2 {
    height: 130px;
  }

  .display-post-btn {
    right: calc(50% - 100px);
    top: 210px;
    width: 200px;
  }

}
