@import '../Styles/Variables.scss';

.playlist-div {
	height: calc(100vh - 90px);
	box-sizing: border-box;
	border-radius: 0px 0px $border-rad $border-rad;
}

.playlist-div h2 {
  background-color: $pop-accent-o;
  color: $white;
  text-align: center;
  padding-top: 10px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
}

h2 div button {
  background-color: rgba(0,0,0,0);
  border: none;
  display: inline-block;
  font-family: $body-font;
  color: $white;
  vertical-align: middle;
  font-size: 16px;
  padding: 0px 15px;
  transition: all 200ms ease-in;
}

h2 div button:hover {
  cursor: pointer;
  color: $dark-bg;
  transition: all 200ms ease-in;
}

.playlist-path-active {
  color: $dark-bg;
}

.playlist-div ol {
  background-color: $dark-bg;
  color: $light-3;
  text-align: left;
  padding-left: calc(30vw + 35px);
	overflow: scroll;
	height: calc(99vh - 174px);
}

.playlist-div li {
 font-family: $header-font; 
 border-radius: 1px;
 box-sizing: border-box;
 height: 42px;
 margin: 4px 0px;
}

.playlist-div li:hover {
  background-color: $dark;
  box-sizing: border-box;
  border-bottom: 2px solid $pop-accent;
}

.playlist-div li:hover button {
  color: #E1B484;
}

.selected button {
  color: #E1B484;
}

li span {
	color: $white;
	font-size: 20px;
	font-family: $header-font;
  padding: 0px 3px 0px 10px;
}

.post-btn {
  display: none;
}

.display-post-btn {
  display: initial;
  position: absolute;
  right: 25px;
  top: 206px;
  background-color: $spotify-green;
  border: none;
  color: $white;
  font-size: 16px;
  font-family: $header-font;
  outline-color: $spotify-green;
  padding: 2px 30px;
}
