$dark-bg: rgba(0,0,0,0.88);
$dark-bg-o: rgba(0,0,0,1);
$spotify-green: rgba(30, 215, 96, 1);
$spotify-green-hover: rgba(25, 176, 79, 1);
$spotify-green-disabled: rgba(91, 225, 139, 1);
$pop-accent: rgba(255, 150, 36, 1);
$pop-accent-o: rgba(255, 150, 36, .80);
$dark: rgba(62, 61, 61, 0.8);
$light-1: rgba(245, 245, 245, 0.8);
$light-2: rgba(224, 225, 226, 0.8);
$light-3: rgba(160, 164, 168, 1);
$white: rgba(255, 255, 255, 0.9);
$dark-accent: rgba(152, 131, 121, 1); 
$body-font: 'Roboto', sans-serif; 
$header-font: 'Work Sans', sans-serif;
$border-rad: 10px;
