@import '../Styles/Variables.scss';

.home-div {
	height: calc(100vh - 90px);
	box-sizing: border-box;
	padding: 10px;
}

.home-div h2 {
  @include linear-grad($dark-bg-o, $dark-bg);
  color: $white;
  text-align: left;
  padding-left: calc(30vw + 10px);
  padding-top: 50px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
}

ol:hover {
  cursor: ns-resize;
}

.home-div ol {		
  background-color: $dark-bg;
  text-align: left;
	color: $light-3;
  padding-left: calc(30vw + 35px);
	overflow: scroll;
	height: calc(99vh - 191px);
	border-radius: 0px 0px $border-rad $border-rad;
	font-family: $body-font;
}

h2 img {
	height: 20px;
	width: 20px;
  margin-right: -20px;
}

.home-div li {
  line-height: 42px;
  height: 42px;
	margin: 4px 0px;
	font-family: $header-font;
	border-radius: 1px;
  box-sizing: border-box;
}

.artists .plus-icon, .artists .minus-icon {
	display: none;
	color: $pop-accent;
}

.home-div li:hover {
	background-color: $dark;
  border-bottom: 2px solid $pop-accent;
}

.unselected:hover .plus-icon {
	display: inline;
}

.selected:hover .minus-icon {
	display: inline;
}

.artists span {
	display: block;
	padding-left: 10px;
}

.unselected {
	img {
		display: none;
	}
	p {
		display: none;
	}
}

.selected {
	background-color: $dark;
  border-bottom: 2px solid $pop-accent;
}

section {
  position: absolute;
  height: calc(99vh - 100px);
  width: 30vw;
}

section {
  h4 {
    font-family: $header-font;
    font-size: 24px;
    color: $white;
  }
	img {
		width: 95%;
	}
  p {
    color: $white;
    font-family: $body-font;
  }
	div {
		display: inline-flex;
		padding-left: 10px;
		vertical-align: top;
		flex-direction: column;
		justify-content: space-around;
	}
	div p {
		font-family: $body-font;
	}
	div p span {
		font-family: $body-font;
		display: initial;
		font-size: 16px;
		color: $white;
	}
	.alt-text {
		color: $light-3;
		width: calc(100vw - 700px);
		line-height: normal;
	}
}

