@import '../Styles/Variables.scss';

.home-div {
	height: 100vh;
	box-sizing: border-box;
	padding: 10px;
}

.home-div h2 {
  @include linear-grad($dark-bg-o, $dark-bg);
  color: $white;
  text-align: left;
  padding-left: 10px;
  padding-top: 50px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
}

.home-div ol {		
  background-color: $dark-bg;
  text-align: left;
	color: $light-3;
  padding-left: 35px;
	overflow: scroll;
	height: calc(99vh - 100px);
	border-radius: 0px 0px $border-rad $border-rad;
	font-family: $body-font;
}

h2 img {
	height: 20px;
	width: 20px;
}

.home-div li {
  line-height: 50px;
	font-family: $header-font;
}
