@import '../Styles/Variables.scss';

.login-div {
	height: calc(100vh - 90px);
	box-sizing: border-box;
	border-radius: 0px 0px $border-rad $border-rad;
}

.login-div h2 {
  @include linear-grad($dark-bg-o, $dark-bg);
  color: $white;
  text-align: left;
  padding-left: 10px;
  padding-top: 50px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
	text-align: center;
}

.login-div button {
  background-color: $spotify-green;
	border: none;
	padding: 2px 30px;
  color: $white;
  font-size: 16px;
	font-family: $header-font;
}

.login-div div {
  background-color: $dark-bg;
  color: $light-3;
  text-align: left;
  padding-left: 35px;
	overflow: scroll;
	height: calc(99vh - 174px);
	border-radius: 0px 0px $border-rad $border-rad;
  line-height: 32px;
	font-family: $body-font;
}

.login-div p {
	padding-top: 4%;
	font-family: $body-font;
	text-align: center;
}

