@import '../Styles/Variables.scss';

.App {
  text-align: center;
  background-image: url('../Assets/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
/*  background-position-x: 239px; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: $dark-bg;
  height: 50px;
  padding: 20px;
  color: $white;
  text-align: left;
}

header a {
  text-align: left;
	text-decoration: none;
	line-height: 50px;
  padding-right: 20px;
	color: $white;
}

header a:visited {
	color: $white;
}

h1 {
	font-family: $header-font;
	font-size: 40px;
  position: absolute;
  display: inline-block;
  right: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
