@import '../Styles/Variables.scss';

.App {
  text-align: center;
  background-image: url('../Assets/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
/*  background-position-x: 239px; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: $dark-bg-o;
  height: 48px;
  padding: 20px;
  color: $white;
  text-align: left;
  border-bottom: 2px solid $pop-accent;
}

header a {
  text-align: left;
	text-decoration: none;
	line-height: 50px;
  padding-right: 30px;
	color: $light-3;
  font-family: $body-font;
  transition: all 200ms ease-in;
}

header a:hover {
  color: $pop-accent; 
  transition: all 200ms ease-in;
}

h1 {
	font-family: $header-font;
	font-size: 40px;
  position: absolute;
  display: inline-block;
  right: 30px;
  transition: all 400ms ease-out;
}

h1:hover {
  text-shadow: 1px 1px $pop-accent,
    2px 2px $pop-accent,
    3px 3px $pop-accent,
    4px 4px $pop-accent
}

@media only screen and (max-width: 620px) {

  header {
    height: initial;
    padding: 20px 20px 0px 20px;
  }

  h1 {
    position: initial;
    text-align: center;
    display: block;
  }

}

