.App {
  text-align: center;
  background-image: url("../Assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*  background-position-x: 239px; */ }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  padding: 20px;
  color: white;
  position: fixed;
  width: 200px; }

header a {
  display: block;
  text-align: left; }

main {
  margin-left: 240px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
