@import '../Styles/Variables.scss';

.playlist-div {
	height: calc(100vh - 90px);
	box-sizing: border-box;
	padding: 10px;	
	border-radius: 0px 0px $border-rad $border-rad;
}

.playlist-div h2 {
  @include linear-grad($dark-bg-o, $dark-bg);
  color: $white;
  text-align: left;
  padding-left: 10px;
  padding-top: 50px;
	height: 91px;
	box-sizing: border-box;
	font-family: $header-font;
	font-size: 32px;
}

h2 p {
  display: inline-block;
  font-family: $body-font;
  color: $light-3;
  vertical-align: middle;
  font-size: 16px;
  padding-left: 30px;
  transition: all 200ms ease-in;
}

h2 p:hover {
  cursor: pointer;
  color: $pop-accent;
  transition: all 200ms ease-in;
}

.playlist-path-active {
  color: $pop-accent;
}

.playlist-div ol {
  background-color: $dark-bg;
  color: $light-3;
  text-align: left;
  padding-left: 35px;
	overflow: scroll;
	height: calc(99vh - 191px);
	border-radius: 0px 0px $border-rad $border-rad;
  line-height: 32px;
	font-family: $body-font;
}


li span {
	color: $white;
	font-size: 20px;
	font-family: $header-font;
}
